body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 57%,
    rgba(255, 231, 237, 1) 100%
  );
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 5rem;
}

h3 {
  text-align: center;
  font-size: 4rem;
}

h4 {
  font-size: 2.5rem;
  margin-top: 2px;
  margin-bottom: 15px;
}

.lead {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

h2,
h3,
.lead {
  margin-left: 20px;
  margin-right: 20px;
}

header {
  margin: 15px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li {
  float: left;
}

header li a {
  display: block;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  color: black;
}

header li a:hover {
  background: rgb(231, 255, 231);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(231, 255, 231, 1) 100%
  );
}

.cart-pill {
  font-weight: 800;
  font-size: 0.8rem;
  background: darkred;
  color: white;
  border-radius: 20px;
  padding: 3px 8px;
  margin-left: 8px;
}

.shop {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-card {
  background: rgb(231, 253, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 22%,
    rgba(231, 253, 255, 1) 100%
  );
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 100px rgba(231, 253, 255, 1);
  margin: 30px;
  padding: 20px;
}
